<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179107059917-m84r536sh45uqppa0a0phr06a0togs4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179107059917-m84r536sh45uqppa0a0phr06a0togs4q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179107059917-7sukm3servs7ilc6ccqum6l95u5tlse6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5UWGXrnAbmD7NkrcbOMehJKvUT5tFBdY</string>
	<key>GCM_SENDER_ID</key>
	<string>179107059917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangwoo.cuk</string>
	<key>PROJECT_ID</key>
	<string>cukcat-40d1d</string>
	<key>STORAGE_BUCKET</key>
	<string>cukcat-40d1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179107059917:ios:ddb677b3f2b2284dc7f184</string>
	<key>DATABASE_URL</key>
	<string>https://cukcat-40d1d.firebaseio.com</string>
</dict>
</plist>